.sg.contacto-note {
  --base-color: var(--primary-color);
  --bg-color: var(--primary-color-4);
  display: flex;
  font-size: 0;
  line-height: 0;
  color: var(--base-color);
  background-color: var(--bg-color);
  padding: 16px;
  --bg-color: var(--magnolia);

  &.expand {
    height: 100%;
  }

  .expand-icon {
     background-color: white;
  }

  &--small {
    padding: 8px;
    gap: 8px;
  }

  &--message {
    flex:1 1 80%;
    width:500px;
    margin-left: 6px;
    margin-right: 16px;
  }
}

.contacto-note-message {
  flex:1 1 80%;
  width:500px;
  margin-left: 6px;
  margin-right: 16px;
}

.contacto-note-collapse-box {
 height: 20px;
 width: 20px;
}

