// This CSS file incorporates the maximum benefit of SCSS mixins, variables and CSS Variables
// Mixin that is used to set the CSS Variables for the respective buttons
@mixin btn-colors($type, $base-color, $hover-bg-color, $disabled-color) {
  --hover-color: #{$hover-bg-color};
  --disabled-color: #{$disabled-color};
  --disabled-border-color: var(--disabled-color);
  --border-color: #{$base-color};

  @if $type== 'fill' or $type== 'link' {
    --base-color: #{$base-color};
    --text-color: var(--white);
    --disabled-text-color: var(--text-color);
    --disabled-bg-color: var(--disabled-color);
  } @else if $type== 'outline' {
    --base-color: var(--white);
    --text-color: #{$base-color};
    --disabled-text-color: #{$disabled-color};
    --disabled-bg-color: var(--white);
  }
}

// The base class
.sg.cnto-btn.contacto-button {
  min-width: 60px;
  padding: 8px 16px;
  height: 36px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  text-transform: none;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: var(--base-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  // Hover state
  &:hover {
    background-color: var(--hover-color);
  }

  .sg.contacto-typography {
    color: inherit;
  }

  // Disabled state
  &[disabled],
  &[disabled]:hover {
    color: var(--disabled-text-color);
    background-color: var(--disabled-bg-color);
    border: 1px solid var(--disabled-border-color);
  }

  // Styles for links
  &[class*='link'],
  &[class*='text-type-button'] {
    color: var(--base-color);
    font-weight: 600;
    background-color: var(--white);
    border: none;

    &:hover {
      color: var(--hover-color);
    }

    &[disabled],
    &[disabled]:hover {
      color: var(--disabled-color);
      background-color: var(--white);
    }

    &:hover {
      background-color: transparent;
    }
  }

  // Button Variations start here
  // The style generation is made simple using SCSS mixins and CSS variables
  &--primary,
  &--link {
    @include btn-colors(
      'fill',
      var(--primary-color),
      var(--primary-color-6),
      var(--primary-color-2)
    );
  }

  &--secondary {
    @include btn-colors('outline', var(--primary-color), var(--dark-bg), var(--primary-color-2));
  }

  &--danger {
    &-primary {
      @include btn-colors(
        'fill',
        var(--danger-color),
        var(--danger-color-5),
        var(--danger-color-2)
      );
    }

    &-secondary {
      @include btn-colors(
        'outline',
        var(--danger-color),
        var(--danger-color-4),
        var(--danger-color-2)
      );
    }
  }

  &--link-danger {
    @include btn-colors('link', var(--danger-color), var(--danger-color-5), var(--danger-color-2));
  }

  // Spacing and sizing related styles start here
  &--small {
    height: 28px;
    padding: 4px 8px;

    &.contacto-button--only-icon {
      padding: 4px;
    }
  }

  &--large {
    height: 44px;
    padding: 12px 16px;
    font-size: 16px;
  }

  &--extra-large {
    height: 56px;
    padding: 16px;
  }

  &--full-width {
    width: 100%;
    justify-content: center;
  }

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--with-icon {
    &--small {
      padding-left: 4px;
    }
    &--default {
      padding-left: 8px;
    }
    &--large {
      padding-left: 8px;
    }
  }

  // Icon related styles
  .contacto-icon {
    &.small {
      margin-right: 4px;
      font-size: 18px;
    }
    &.default {
      margin-right: 8px;
    }
    &.large {
      margin-right: 8px;
    }
  }

  &--only-icon {
    padding: 8px;
    min-width: auto;
    width: auto;
    border: 0;

    .contacto-icon {
      margin-right: 0;

      &.small {
        font-size: 20px;
      }
    }
  }

  &--loading {
    span.MuiButton-label > *:not(.contacto-loader) {
      opacity: 0;
    }

    span.MuiButton-label .contacto-loader {
      position: absolute;
    }
  }

  .MuiButton-startIcon {
    margin: 0;

    .sg.contacto-loader {
      margin-right: 8px;
    }
  }
}
