.sg.contacto-datetime {
    cursor: pointer;

    .MuiInput-underline:after {
        transition: none;
        border-bottom: none;
      }

    .MuiInput-underline:before {
        content: none;
    }
    .MuiInputBase-root {
        cursor: pointer;
    }
    .MuiFormHelperText-root {
        display: none;
      }
}

.date-select {
    .contacto-typography {
        font-weight: 600 !important;
    }
}

.MuiPickersDay-daySelected {
    background-color: var(--primary-color) !important;
}