.sg.contacto-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .MuiBackdrop-root {
        background-color: rgba(0, 0, 0, 0.45);
    }

    .contacto-modal-container {
        outline: 0;
        background-color: var(--white);
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);

        .contacto-modal-title {
            padding: 16px;
            border-bottom: 1px solid var(--border-color-1);
        }

        .contacto-modal-content {
            padding: 24px 16px;
        }

        .contacto-modal-footer {
            padding: 16px;
            display: flex;
            gap: 16px;
            justify-content: space-between;
            border-top: 1px solid var(--border-color-1);

            >*:only-child {
                margin-left: auto;
            }
        }
    }
}