.sg.contacto-input-wrapper {
    .contacto-input {
        --height: 36px;
        width: 100%;

        .MuiInputBase-input {
            padding: 0;
            height: calc(var(--height) - 2px);
        }
        .clear-text-icon {
            margin-right: 8px;
            display: none;
            cursor: pointer;
        }

        .MuiInputBase-root {
            font-family: Poppins, sans-serif;
            font-size: 14px;
            letter-spacing: normal;
            border-radius: 0;
            box-shadow: 0px 0px 8px rgba(106, 110, 128, 0.15);
            border: 1px solid var(--border-color-1);
            height: var(--height);
            padding: 0 12px;
            width: 100%;
            &:hover,
            &:active,
            &:focus,
            &[class*='focused'] {
                border: 1px solid var(--primary-color);
                .clear-text-icon {
                    display: block;
                }
            }
            
            &[class*='focused'] {
                .contacto-icon {
                    color: var(--primary-color);
                }
            }
        }

        &.contacto-input--is-loading {
            .MuiInputBase-input {
                max-width: 90% !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &.contacto-input--multiline {
            .MuiInputBase-root {
                height: 100px;
                box-sizing: border-box;
                padding: 12px 0px 12px 12px;
                .MuiInputBase-input {
                    height: 100%;
                    padding-right: 12px;
                }
            }
        }

        &.contacto-input--has-error {
            .MuiInputBase-root {
                border: 1px solid var(--danger-color);
            }
        }

        &::placeholder {
            color: var(--gray-2);
        }

        & > [class*='disabled'],
        & > [class*='disabled']:hover {
            background-color: var(--gray-6);
            border: 1px solid var(--border-color-1);
            box-shadow: none;
        }

        &--readonly:not(.increase-specificity) {

            &,
            & input {

                box-shadow: none;
                background-color: var(--gray-6);
                color: var(--primary-text-color);
            }
        }

        &.contacto-input--small {
            --height: 28px;
        }

        &.contacto-input--large {
            --height: 44px;

            &, &::placeholder {
                font-size: 16px;
            }
        }

        &.contacto-input--search-box .MuiInputBase-root {
            box-shadow: none;
            padding-left: 8px;
        }

        &.contacto-input--no-shadow .MuiInputBase-root {
            box-shadow: none;
        }
    }

    .contacto-input-label-wrapper {
        margin-bottom: 4px;
        line-height: 0;
    }

    .contacto-icon--input-prefix {
        color: var(--gray-1);
        font-size: 20px;
        margin-right: 4px;
    }

    .contacto-loader--input-postfix {
        position: absolute;
        right: 8px;
    }
}